.block-search{
  height: 50px;
  position: relative;
  padding-left: 2%;
  padding-right: 5%;

  .content{
    margin-top: 8px;
    padding-left: 10px;
    top: 0px;
    z-index: 9999;
    background-color: $color3;
    .container-inline{
      display: table;
      width: 100%;
      &>div{
        display: table-cell;
        vertical-align: middle;
      }
      .form-actions{
        width: 100px;
      }
    }
  }
  .form-submit{
    background: $color1_1 none repeat scroll 0 0;
    background-image: none;
    border: none;
    color: $color3;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 0px;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
  }

  .ui-autocomplete{
    a.ui-state-focus{
      border: none;
    }
  }
  .ui-autocomplete-fields{
    display: table;

    .ui-autocomplete-field-uc_product_image{
      display: table-cell;
      vertical-align: middle;
      padding-right: 15px;
      img{
        width: 40px;
        height: 40px;
      }
    }
    .ui-autocomplete-field-title{
      display: table-cell;
      vertical-align: middle;
      font-size: 13px;
    }
  }
}
.block-search .form-text {
  background-color: #fff;
  background-image: none;
  border: none;
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
.form-text {
  background-color: #fff;
  background-image: none;
  border: 1px solid $color8;
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
.button-primary{
  border: 1px solid $color3;
  background-color:$color10;
  line-height: 1.42857;
  padding: 6px 12px;
  font-weight: bold;
  color: $color3;
}
@include bp(max-width,$bp-tablet){
  .block-search{
    vertical-align: middle;
    .content{
      height: auto;
      margin-top:0;
      padding-left: 0;
      padding-right: 0;

    }
  }
  #block-uc-cart-cart{
    width: 40px;
    .cart-block-title-bar{
      display: none;
    }
  }
  .block-search .content .container-inline .form-actions{
    width: 70px;
  }
}