.shipping-header .info .text{ float:left; width:25%; padding:30px 0px;}
.shipping-header .info .text .l{ float:left; width:30%;}
.shipping-header .info .text .r{ float:left; width:70%;}
.shipping-header .info .text .l a{ width:44px; height:44px; display:inline-block; background: url("/sites/all/themes/oms/images/icon.png") no-repeat scroll left top transparent; vertical-align:middle; text-decoration:none;}
.shipping-header .info .t1 .l a{ background-position:-75px top;}
.shipping-header .info .t2 .l a{ background-position:-121px top;}
.shipping-header .info .t3 .l a{ background-position:-167px top;}
.shipping-header .info .t4 .l a{ background-position:-213px top;}
.shipping-header .info .text .r a{ color:#6c6c6c; text-decoration:none;font-size: 13px}
.shipping-header .info .text:hover .r a b{ color:#e65c13;}