.block-featured-product{
  .views-row{
    .views-field-uc-product-image{
      img{
        outline: none;
        margin: auto;
      }
    }
  }
  .slick-dots {
    bottom: -50px;
    li button::before{
      font-size: 14px;
    }
  }
}

.slick-slider{
  .arrow{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    z-index: 2;
    width: 65px;
    &:hover{
      background-color: rgba(0,0,0,0.1);
    }
  }
  .arrow-right{
    right: 0px;
  }
  .arrow-left{
    left: 0px;
  }
}
