.home-high3,.home-high4{
  p{
    padding: 0px;
    margin: 0px;
  }
  .title{
    background-color: $color9;
    padding: 10px;
    margin-bottom: 10px;
    .text{
      font-size: 16px;
      font-weight: bold;

    }
    a{
      float: right;
    }
  }
}