.block-featured-product{
  .views-row{
    .row-content{
      border: 1px solid $color9;
    }
    .views-field-title{
      a{
        text-transform: uppercase;
        display: block;
        text-align: center;
        padding-top: 20px;
        text-transform: lowercase;
        font-weight: bold;
        &:first-letter {
          text-transform: uppercase;
        }

      }
    }
    .views-field-sell-price{
      padding-top: 20px;
      .uc-price{
        font-weight: bold;
        color: $color1_1;
        font-size: 22px;
      }

    }
    .views-field-uc-product-image{
      img{
        outline: none;
      }
    }
  }
  .slick-dots {
    bottom: -50px;
    li button::before{
      font-size: 14px;
    }
  }
  .slick-prev {
    left: 0px;
    z-index: 1;
    &:before{
      color: $color1;
      font-size: 30px;
    }
  }
  .slick-next {
    right: 0px;
    z-index: 1;
    &:before{
      color: $color1;
      font-size: 30px;
    }
  }
}