.block-featured-product{
  .views-row{
    .views-field-uc-product-image{
      img{
        outline: none;
        margin: auto;
      }
    }
  }
  .slick-dots {
    bottom: -50px;
    li button::before{
      font-size: 14px;
    }
  }
  .slick-prev {
    left: 0px;
    z-index: 1;
    &:before{
      color: $color1;
      font-size: 30px;
    }
  }
  .slick-next {
    right: 0px;
    z-index: 1;
    &:before{
      color: $color1;
      font-size: 30px;
    }
  }
}