#navigation{
  background-color: $color3;
  border-left:solid 1px #d8d8d8;
  border-right:solid 1px #d8d8d8;
  border-bottom:solid 1px #d8d8d8;
  #main-menu{
    ul{
      z-index: 9999;
      li{
        padding: 0px;
      }
    }
    &>ul{
      width: 100%;
      padding-bottom: 0px;
      margin-bottom: 0px;
      margin-top: 0px;
      position: relative;
      &>li{
        display: block;
        color: $color5;
        font-weight: 500;
        border-bottom:solid 1px #d8d8d8;
        margin-left: 0px;
        a{
          color: $color5;
          display: block;
          font-weight: 500;
          padding-bottom: 10px;
          padding-left: 40px;
          padding-right: 10px;
          padding-top: 10px;
          text-decoration-color: currentcolor;
          text-decoration-line: none;
          text-decoration-style: solid;
          background-size: 32px;
          height: auto !important;
          .fa{
            float: right;
          }
        }
        &:hover{
          background-color: $color9;
          &>ul{
            display: block;

          }
        }
        &>ul{
          background-color: $color9;
          border-right: 1px solid #d8d8d8;
          border-top: 1px solid #d8d8d8;
          border-bottom: 1px solid #d8d8d8;
          display: none;
          position: absolute;
          top: 0px;
          min-height: 100%;
          left: 100%;
          width: 250px;
          &>li{
            text-align: center;
            a{
              text-align: left;
              display: block;
              padding-left: 20px;
              background-position: top center;
            }
          }
        }
        &.expanded{
          &>a{
            position: relative;
            &:after{
              display: inline-block;
              font: normal normal normal 14px/1 FontAwesome;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              content: "\f105";
              position: absolute;
              right: 10px;
              font-weight: bold;
            }
          }
        }
        &.mega{
          &>ul{
            width: 400px;
            &>li{
              display: block;
              float: left;
              width: 33.3333%;
            }
          }
        }
      }
    }
  }
}
.menu-category-button{
  position: relative;
  &:hover{
    .popup-menu{
      display: block;
    }
  }
  .popup-menu{
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 100;
  }
}

@include bp(max-width,$bp-tablet) {
  #main-menu .menu a.active-trail{
    background: transparent !important;
  }
  #navigation #main-menu{
    background-color: $color14;
  }
  #navigation #main-menu >ul{
    &>li{
      border-bottom: 1px dotted $color8;
      display: block;
      width: 100%;
      text-align: left;
      margin-left: 0px;
      position: relative;
      &>a{
        color: $color7;
        display: block;
        text-transform: lowercase;
        font-weight: bold;
        &:first-letter{
          text-transform: uppercase;
        }
      }
      .fa{
        position: absolute;
        right: 5px;
        top: 2px;
        color: $color7;
        padding: 10px;
      }
      &>ul{
        position: inherit;
        width: 100%;
        left: 0px;
        li a{
          color: $color7;
          padding-top: 5px;
          text-align: left;
          padding-left: 45px;
        }
      }
      &.expanded{
        &>a{
          &:after{
            display: none;
          }
        }
      }

      &:hover{
        &>ul{
          display: none;
        }
      }
      &.open{
        &>ul{
          display: block;
        }
      }
    }
  }
}