#views-exposed-form-danh-sach-san-pham-page{
  .views-exposed-form{
    padding-bottom: 20px;
    padding-left: 5px;
    .form-item-sort-bef-combine{
      &>label{
        display: inline-block;
      }
      #edit-sort-bef-combine{
        display: inline-block;
        padding: 5px;
        margin-left: 10px;
      }

    }
  }

}
.region-sidebar-first{
  .block{
    border: 1px solid $color9;

  }
  .block-facet ul.facetapi-facet-sell-price > li{
    border-bottom: 1px dashed $color9;
    padding-bottom: 14px;
    a{
      font-weight: 500;
    }
  }
  .block-facet ul.facetapi-facet-taxonomy-catalog li{
    border-bottom: 1px dashed $color9;
    padding-bottom: 14px;
    &.expanded{
      padding: 0px;
      &>a{
        padding-left: 10px;
        font-weight: bold;
        font-weight: 500;
        display: block;
        padding-bottom: 5px;
      }
      li{
        a{
          padding-left: 15px;
          font-weight: 500;
        }
      }
    }
  }
}

.view-danh-sach-san-pham{
  .item-list{
    display: table;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
}

.page-title .description{
  background-color: $color6;
  padding: 10px;
  font-style: italic;
  margin-bottom: 15px;
}