.view-news.view-display-id-page{
  .views-row{
    margin-bottom: 20px;
    border-bottom: 1px solid $color9;
    padding-bottom: 20px;
    display: table;
    width: 100%;
    .views-field-title{
      font-weight: bold;
    }
    .views-field-field-image{
      float: left;
      width: 200px;
      margin-right: 10px;
    }
    .views-field-body{
      color: $color13;
    }
  }
}