#views-exposed-form-danh-sach-san-pham-page{
  .views-exposed-form{
    padding-bottom: 20px;
    padding-left: 5px;
    .form-item-sort-bef-combine{
      &>label{
        display: inline-block;
      }
      #edit-sort-bef-combine{
        display: inline-block;
        padding: 5px;
        margin-left: 10px;
      }

    }
  }
}