header{

}
#header-top{
  padding: 8px 0px;
  background-color: $color5;
  i{
    color: $color3;
  }
  p{
    padding: 0px;
    margin: 0px;
  }
}

span.icon-bar{
  display: block;
  height: 4px;
  background-color: $color3;
  width: 30px;
  margin-top: 8px;
}
#header-bottom{
  background-color: $color1;
  .desktop-menu{
  }
  .menu-category-button{
    display: table;
    width: 100%;
    background-color: #359131;
    height: 50px;
    .icon-menu-category{
      display: table-cell;
      vertical-align: middle;
      padding: 10px;
    }
    .text-menu-category{
      display: table-cell;
      vertical-align: middle;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  span.icon-bar{
    margin-top: 5px;
    width: 22px;
    height: 3px;
  }
  span.icon-bar:first-child{
    margin-top: 0px;
  }
}
.top-left{

}

@include bp(max-width,$bp-tablet){
  #header-top .block-logo a {
    width: 100%;
    img{
      margin-top: 0px;
      max-height: 40px;
    }
  }
}