

<!-- THEME DEBUG -->
<!-- CALL: theme('menu_icons_css_item') -->
<!-- BEGIN OUTPUT from 'sites/all/modules/menu_icons/menu_icons_css_item.tpl.php' -->
a.menu-219, ul.links li.menu-219 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_219.png);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}


<!-- END OUTPUT from 'sites/all/modules/menu_icons/menu_icons_css_item.tpl.php' -->



<!-- THEME DEBUG -->
<!-- CALL: theme('menu_icons_css_item') -->
<!-- BEGIN OUTPUT from 'sites/all/modules/menu_icons/menu_icons_css_item.tpl.php' -->
a.menu-483, ul.links li.menu-483 a {
  background-image: url(/sites/default/files/styles/style_255x255/public/menu_icons/menu_icon_483.png);
  padding-left:255px;
  background-repeat: no-repeat;
  background-position: left;
  height: 255px;
}


<!-- END OUTPUT from 'sites/all/modules/menu_icons/menu_icons_css_item.tpl.php' -->

