a.menu-219, ul.links li.menu-219 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_219.jpg);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

a.menu-483, ul.links li.menu-483 a {
  background-image: url(/sites/default/files/styles/medium/public/menu_icons/menu_icon_483.png);
  padding-left:220px;
  background-repeat: no-repeat;
  background-position: left;
  height: 220px;
}

