/* Break point */
/* Mixin */
/* Mixin style */
/* animation */
/* appearance */
/* border radius */
/* box-shadow */
/* custome font */
/* filter */
/* transform */
/* transition */
/* placeholder */
/* opacity */
/* breakpoint with one condition(min or max) */
/* breakpoint with two conditions (min and max) */
.pager li > a, .pager li > span {
  border-radius: 0px; }

.item-list .pager li {
  padding: 5px;
  margin-left: 2px; }
  .item-list .pager li a, .item-list .pager li span {
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: normal;
    background-color: #fff;
    border: 1px solid #ddd; }

.block-reated-products .title {
  font-weight: bold;
  font-size: 16px; }
.block-reated-products .views-field-title {
  padding-top: 10px;
  padding-bottom: 10px; }

.grid-product .views-field-title h3 {
  font-size: 15px;
  text-align: center;
  margin: 0px; }
.grid-product .views-field-sell-price {
  padding-top: 10px;
  text-align: center; }
  .grid-product .views-field-sell-price .uc-price {
    color: #e65c13;
    font-weight: bold; }

.block-product-by-category {
  position: relative;
  margin-top: 50px; }
  .block-product-by-category .views-row {
    margin-bottom: 30px; }
  .block-product-by-category .title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: block;
    border-bottom: 1px solid #3eaa3a;
    padding-bottom: 5px;
    position: relative;
    padding-left: 15px; }
    .block-product-by-category .title:before {
      display: block;
      position: absolute;
      left: 0px;
      content: "";
      width: 10px;
      height: 100%;
      background-color: #3eaa3a; }
  .block-product-by-category .sub-category {
    position: absolute;
    top: 0px;
    right: 0px; }
    .block-product-by-category .sub-category span {
      font-size: 14px; }
    .block-product-by-category .sub-category ul {
      margin: 0px;
      padding-left: 5px;
      display: inline-block; }
      .block-product-by-category .sub-category ul li {
        list-style: none;
        display: inline-block; }
        .block-product-by-category .sub-category ul li h2 {
          font-size: 16px;
          margin: 0px;
          border-right: 1px solid #b7b7b7;
          padding-left: 5px;
          padding-right: 5px; }
        .block-product-by-category .sub-category ul li:last-child h2 {
          border-right: none;
          padding-right: 0px; }

/*global*/
.footer {
  background-color: #ebebeb;
  border-top: 1px solid #ccc;
  clear: both;
  padding-top: 30px;
  width: 100%;
  margin-top: 5px; }

.footer-address p {
  font-size: 12px; }

.footer-block ul {
  padding-left: 0px; }
  .footer-block ul li {
    list-style: none; }
.footer-block .title {
  color: #3eaa3a;
  font-weight: bold; }

.head.social ul li {
  list-style: none;
  display: inline-block; }

.banner-middle {
  margin-top: 30px;
  margin-bottom: 30px; }
  .banner-middle img {
    width: 100% !important;
    height: auto !important; }

body.views--set-products--page-2 .page-title {
  padding: 20px 0; }
  body.views--set-products--page-2 .page-title .container {
    border-bottom: 1px solid #ccc; }
  body.views--set-products--page-2 .page-title h1.title {
    text-align: center;
    color: #2e2e2e;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 15px;
    padding-bottom: 3px;
    margin-top: 0px;
    text-transform: uppercase; }
body.views--set-products--page-2 .view-set-products .views-row {
  margin-bottom: 50px; }
  body.views--set-products--page-2 .view-set-products .views-row .group-image {
    position: relative; }
    body.views--set-products--page-2 .view-set-products .views-row .group-image:hover .views-field-view-node {
      display: block;
      height: 50px;
      transition: height 1s ease 0s; }
      body.views--set-products--page-2 .view-set-products .views-row .group-image:hover .views-field-view-node a {
        display: block; }
    body.views--set-products--page-2 .view-set-products .views-row .group-image .views-field-view-node {
      height: 0;
      position: absolute;
      bottom: 0px;
      text-align: center;
      background-color: #3eaa3a;
      width: 100%;
      overflow: hidden;
      transition: height 1s ease 0s; }
      body.views--set-products--page-2 .view-set-products .views-row .group-image .views-field-view-node a {
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        line-height: 50px; }
  body.views--set-products--page-2 .view-set-products .views-row .views-field-title {
    padding: 20px 0px; }
    body.views--set-products--page-2 .view-set-products .views-row .views-field-title h4 {
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase; }

#views-exposed-form-danh-sach-san-pham-page .views-exposed-form {
  padding-bottom: 20px;
  padding-left: 5px; }
  #views-exposed-form-danh-sach-san-pham-page .views-exposed-form .form-item-sort-bef-combine > label {
    display: inline-block; }
  #views-exposed-form-danh-sach-san-pham-page .views-exposed-form .form-item-sort-bef-combine #edit-sort-bef-combine {
    display: inline-block;
    padding: 5px;
    margin-left: 10px; }

.region-sidebar-first .block {
  border: 1px solid #ebebeb; }
.region-sidebar-first .block-facet ul.facetapi-facet-sell-price > li {
  border-bottom: 1px dashed #ebebeb;
  padding-bottom: 14px; }
  .region-sidebar-first .block-facet ul.facetapi-facet-sell-price > li a {
    font-weight: 500; }
.region-sidebar-first .block-facet ul.facetapi-facet-taxonomy-catalog li {
  border-bottom: 1px dashed #ebebeb;
  padding-bottom: 14px; }
  .region-sidebar-first .block-facet ul.facetapi-facet-taxonomy-catalog li.expanded {
    padding: 0px; }
    .region-sidebar-first .block-facet ul.facetapi-facet-taxonomy-catalog li.expanded > a {
      padding-left: 10px;
      font-weight: bold;
      font-weight: 500;
      display: block;
      padding-bottom: 5px; }
    .region-sidebar-first .block-facet ul.facetapi-facet-taxonomy-catalog li.expanded li a {
      padding-left: 15px;
      font-weight: 500; }

.node-type-project .node-project .field-name-field-image .field-item {
  margin-bottom: 30px; }

.node-type-project #main .container {
  max-width: 980px; }

.node-type-set-product .node-set-product .carousel-prev, .node-type-set-product .node-set-product .carousel-next {
  display: none; }
.node-type-set-product .node-set-product .field-slideshow-carousel-wrapper {
  padding-top: 15px; }
.node-type-set-product .node-set-product .content-title {
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px; }
.node-type-set-product .node-set-product .product-info.model {
  display: block;
  padding-bottom: 10px; }
.node-type-set-product .node-set-product .btn-send-request {
  text-align: center;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px; }
  .node-type-set-product .node-set-product .btn-send-request a {
    padding: 10px 30px;
    display: inline-block;
    background-color: #e65c13;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold; }
.node-type-set-product .node-set-product .field-name-field-product-kit {
  margin-top: 50px;
  text-align: center; }
  .node-type-set-product .node-set-product .field-name-field-product-kit .field-name-uc-product-image img {
    max-height: 50px;
    width: auto; }
  .node-type-set-product .node-set-product .field-name-field-product-kit .field-label {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    position: relative;
    padding: 0 10px;
    font-weight: bold;
    margin-bottom: 20px; }
    .node-type-set-product .node-set-product .field-name-field-product-kit .field-label:before {
      content: '';
      display: block;
      position: absolute;
      top: 0.73em;
      border-top: 1px solid #dfdfdf;
      right: 100%; }
    .node-type-set-product .node-set-product .field-name-field-product-kit .field-label:after {
      content: '';
      display: block;
      position: absolute;
      top: 0.73em;
      border-top: 1px solid #dfdfdf;
      left: 100%; }
  .node-type-set-product .node-set-product .field-name-field-product-kit td {
    vertical-align: middle;
    text-align: left; }

.views--collection--page .page-title h1.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400; }
.views--collection--page .view-header {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #CCC; }

.view-collection .views-row {
  display: table;
  width: 100%;
  border-bottom: 1px solid #CCC;
  padding-top: 45px;
  padding-bottom: 45px; }
  .view-collection .views-row .column-1, .view-collection .views-row .column-2 {
    width: 50%;
    text-align: center; }
  .view-collection .views-row.views-row-odd .column-1, .view-collection .views-row.views-row-odd .column-2 {
    float: left; }
  .view-collection .views-row.views-row-odd .column-1 {
    padding-right: 12%; }
  .view-collection .views-row.views-row-even .column-1, .view-collection .views-row.views-row-even .column-2 {
    float: right; }
.view-collection .views-field-view-node a {
  margin-top: 20px;
  background-color: transparent;
  color: #3eaa3a !important;
  border: 1px solid #3eaa3a;
  padding: 15px 20px;
  display: inline-block; }
.view-collection .views-field-sell-price {
  padding-bottom: 20px; }
  .view-collection .views-field-sell-price .uc-price {
    display: inline-block;
    position: relative;
    padding-bottom: 20px; }
    .view-collection .views-field-sell-price .uc-price:after {
      content: "";
      position: absolute;
      height: 1px;
      bottom: 0px;
      left: 0px;
      width: 100%;
      background-color: #2b2b2b; }

.node-type-product .node-product h1.content-title {
  margin-bottom: 5px;
  margin-top: 5px; }
.node-type-product .node-product .node-add-to-cart {
  display: inline-block;
  width: 187px;
  height: 38px;
  background: url(/sites/all/themes/oms/images/icon.png) no-repeat left -113px transparent;
  text-decoration: none;
  cursor: pointer;
  text-indent: 99999px; }
.node-type-product .node-product .horizontal-tabs ul.horizontal-tabs-list li {
  padding-top: 5px;
  padding-bottom: 5px; }
.node-type-product .node-product .horizontal-tabs ul.horizontal-tabs-list li a:hover {
  background-color: transparent; }
.node-type-product .node-product .facebook-button {
  display: inline-block;
  overflow: hidden; }
.node-type-product .node-product .field-name-field-promotion {
  background-color: #e80000;
  border-radius: 3px;
  padding: 10px;
  color: #ffffff;
  margin-top: 15px;
  padding-left: 60px;
  background: url(/sites/all/themes/oms/images/gift.png) no-repeat center left #e80000; }
.node-type-product .node-product .sell-price {
  font-size: 20px;
  color: #e80000;
  font-weight: bold; }
.node-type-product .node-product .cost {
  color: #929292;
  padding: 5px 0px;
  font-size: 16px;
  text-decoration: line-through; }
.node-type-product .node-product .dia-diem {
  display: table;
  background-color: #f5f5f5;
  padding-left: 10px;
  padding-right: 10px; }
  .node-type-product .node-product .dia-diem .showroom {
    display: table; }
    .node-type-product .node-product .dia-diem .showroom > div {
      display: table;
      width: 100%; }
  .node-type-product .node-product .dia-diem .showroom .title {
    font-weight: bold;
    color: #333333;
    margin-top: 0px; }
  .node-type-product .node-product .dia-diem .showroom .address {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 5px; }
    .node-type-product .node-product .dia-diem .showroom .address p.add {
      font-size: 12px;
      margin: 0px;
      color: #797979; }
      .node-type-product .node-product .dia-diem .showroom .address p.add a {
        color: #797979; }
  .node-type-product .node-product .dia-diem .showroom .address .i {
    float: left;
    padding-left: 10px; }
  .node-type-product .node-product .dia-diem .showroom .address .s-l {
    float: left;
    width: 15px;
    height: 15px;
    background: url(/sites/all/themes/oms/images/icon.png) no-repeat -120px -91px transparent; }
.node-type-product .node-product .form-item-qty {
  display: none; }
.node-type-product .node-product .field-name-field-discount {
  position: absolute;
  right: 40%;
  bottom: 72px;
  float: right;
  margin-top: 10px;
  width: 41px;
  height: 41px;
  text-align: center;
  background: url("/sites/all/themes/oms/images/icon.png") no-repeat scroll -241px -45px transparent;
  color: #fff;
  line-height: 41px;
  font-weight: bold; }
  .node-type-product .node-product .field-name-field-discount .field-item:after {
    content: "%"; }

@media only screen and (max-width: 992px) {
  .node-type-product .node-product .sell-price {
    margin-top: 15px; } }
.block-facet {
  margin-top: 10px; }
  .block-facet .title {
    display: block;
    padding: 10px;
    background-color: #ebebeb;
    font-weight: bold; }
  .block-facet ul.facetapi-facet-sell-price > li, .block-facet ul.facetapi-facet-taxonomy-catalog > li {
    list-style: none;
    padding-left: 10px;
    margin-left: 0px;
    margin-top: 10px; }
    .block-facet ul.facetapi-facet-sell-price > li ul li, .block-facet ul.facetapi-facet-taxonomy-catalog > li ul li {
      list-style: none;
      padding-left: 10px;
      margin-left: 0px;
      margin-top: 10px; }
  .block-facet .facetapi-checkbox {
    margin-left: 0px; }

.region-home-high5-left {
  padding-right: 30px;
  margin-top: 30px; }
  .region-home-high5-left .block .title {
    background-color: #ebebeb;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
    font-weight: bold; }
  .region-home-high5-left .block .view-news .views-row-1 {
    margin-bottom: 10px;
    display: table; }
    .region-home-high5-left .block .view-news .views-row-1 .views-field-title {
      font-weight: bold; }
    .region-home-high5-left .block .view-news .views-row-1 .views-field-field-image {
      float: left;
      width: 40%;
      margin-right: 10px; }
    .region-home-high5-left .block .view-news .views-row-1 .views-field-body {
      color: #717171; }
  .region-home-high5-left .block .view-news .views-row:nth-child(n+2) {
    display: table;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%; }
    .region-home-high5-left .block .view-news .views-row:nth-child(n+2) .views-field-title {
      position: relative;
      padding-left: 20px; }
      .region-home-high5-left .block .view-news .views-row:nth-child(n+2) .views-field-title:before {
        content: "";
        position: absolute;
        left: 0px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 0 6px 10px;
        border-color: transparent transparent transparent #717171;
        top: 50%;
        transform: translate(0, -50%); }
      .region-home-high5-left .block .view-news .views-row:nth-child(n+2) .views-field-title a {
        color: #717171; }
    .region-home-high5-left .block .view-news .views-row:nth-child(n+2) .views-field-body, .region-home-high5-left .block .view-news .views-row:nth-child(n+2) .views-field-field-image {
      display: none; }

.region-home-high5-right {
  padding-left: 30px; }

.region-home-high5-right, .region-home-high6 {
  margin-top: 30px; }
  .region-home-high5-right .block .title, .region-home-high6 .block .title {
    background-color: #ebebeb;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
    font-weight: bold; }

@media only screen and (max-width: 992px) {
  .region-home-high5-right {
    padding-left: 0px; }
    .region-home-high5-right .form-text {
      max-width: 100%; }

  .region-home-high5-left {
    padding-right: 0px; } }
#webform-client-form-44 .webform-component--email {
  position: relative; }
  #webform-client-form-44 .webform-component--email .form-actions {
    display: inline-block;
    margin: 0px;
    position: absolute;
    top: 0px;
    right: 0px; }

.view-news.view-display-id-page .views-row {
  margin-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 20px;
  display: table;
  width: 100%; }
  .view-news.view-display-id-page .views-row .views-field-title {
    font-weight: bold; }
  .view-news.view-display-id-page .views-row .views-field-field-image {
    float: left;
    width: 200px;
    margin-right: 10px; }
  .view-news.view-display-id-page .views-row .views-field-body {
    color: #717171; }

.menu-news ul.menu li {
  border-bottom: 1px solid #ebebeb;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold; }

.page-search-node .search-results {
  padding: 0px; }
.page-search-node #search-form {
  display: none; }
.page-search-node .page-title {
  display: none; }

/*# sourceMappingURL=style.css.map */
